* {
    background-color: #121212;
    color: white;
    text-align: center;
}
.img {
    height: auto;
    width: auto;
    border-width: 3px;  
    border-style: groove;
    border-color: rgb(255, 255, 255);
}
.title {
    font-family: 'The Nautigal', sans-serif;
    font-size: 70px;
}
.title.two {
    font-size: 40px;
}
#menu {
    font-size: 30px;
}
button {
    border: 2px groove white;
    padding: 15px 25px;
    font-size: 25px;
    margin: 15px;
    border-radius: 15px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(177, 165, 165);
    color: #121212;
}
button:active {
    background-color: rgb(218, 210, 210);
}